ol {
	background-color: #f1f1f1; border-radius: 3px
}

i {
	background-color: #717171; color: white; border-width: 3px; border-radius: 3px;
}

f {
	background-color: #7e4040; border-radius: 3px; color: white;
}

